@import 'nav.css';
@import 'footer.css';


.hero-section{
    width: 100%;
    height: calc(100vh - 120px);
    background-image: url('../photo/brasseria1.jpeg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section .logo{
    height: 150px;
    display: block;
    margin: auto;
}

.hero-section .sub-heading{
    margin-top: 10px;
    text-align: center;
    color: white;
    font-size: 35px;
    font-weight: 300;
}

.product{
    position: relative;
    overflow: hidden;
    padding: 20px 0;
}

.product-category{
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
}

.product-container{
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar{
    display: none;
}

.product-card{
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;
}

.product-image{
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.product-thumb{
    width: 250px;
    height: 350px;
    object-fit: cover;
}

.discount-tag{
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #ff7d7d;
    right: 10px;
    top: 10px;
}

.card-btn{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}

.product-card:hover .card-btn{
    opacity: 1;
}

.card-btn:hover{
    background: #efefef;
}

.product-info{
    width: 200px;
    height: 100px;
    padding-top: 10px;
}

.product-brand{
    text-transform: uppercase;
}

.product-short-des{
    width: 100%;
    height: 100px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
}

.price{
    font-weight: 900;
    font-size: 20px;
}

.actual-price{
    margin-left: 20px;
    opacity: 0.5;
    text-decoration: line-through;
}

.pre-btn, .nxt-btn{
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    cursor: pointer;
    z-index: 8;
}

.pre-btn{
    left: 0;
    transform: rotate(180deg);
}

.nxt-btn{
    right: 0;
}

.pre-btn img, .nxt-btn img{
    opacity: 0.2;
}

.pre-btn:hover img, .nxt-btn:hover img{
    opacity: 1;
}

/* collections */
.collection-container{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.collection{
    position: relative;
    left: 80px;
}

.collection img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.collection p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 50px;
    text-transform: capitalize;
}


.collection:nth-child(3){
    grid-column: span 2;
    margin-bottom: 10px;
}

@media (min-width: 472px) and (max-width: 767px) {
    .product-container{
        grid-template-columns: 1fr 1fr;
    }
}
@media all and (min-width: 768px) {
    .product-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media all and (min-width: 949px) {
    .product-container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.carrito__container {
    width: 50%;
}
.carrito__container ul{
    float: right;
    margin-right: 30px;
}
.submenu {
    position: relative;
    list-style-type: none;
    width: 50%;
}
.submenu #carrito{
    display: none;
}
.submenu:hover #carrito{
    display: block;
    position: absolute;
    right:0;
    top:100%;
    z-index: 1;
    background-color: white;
    padding: 20px;
    min-height: 400px;
    min-width: 300px;
}
.vacio {
    padding: 10px;
    background-color: crimson;
    text-align: center;
    border-radius: 10px;
    color: white;
}
.borrar-curso {
    background-color: red;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
#lista-cursos {
    padding: 30px 0;
}
.encabezado__cursos{
    margin-bottom: 30px;
}
.cursos__container{
    margin-top: 30px;
    display: grid;
    grid-gap: 25px;
    max-width: 580px;
    margin: 0 auto;
    padding: 0 10px;
}
.curso__item{
    border: 1px solid rgba(0,0,0,0.25);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.imagen__curso{
    width: 10%;
}
.info__card{
    padding: 10px 10px;
    position: relative;
    height: 160px;
}
.info__card *{
    margin-bottom: 10px;
}
.precio{
    text-decoration: line-through;
    color: red;
}
.discount{
    color: black;
    font-weight: bold;
    float: right;
    font-size: 1.25em;
}
.agregar-carrito{
    background: #00B2BD;
    padding: 5px 10px;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.8em;
    position: absolute;
    bottom: 0;
}
.agregar-carrito:hover{
    background: #00828a;
    color: white;
}

.info__card h4 {
    font-size: 16px;
    font-weight: 700;
}














